# Core ML and Data processing
tensorflow==2.20.0
numpy==2.2.1
pandas==2.3.3
scikit-learn==1.8.0

# NLP and Preprocessing
nltk==3.9.2
gensim==4.4.0

# Deployment
streamlit==1.53.1
python-dotenv==1.2.1
